@{
  Layout = "_Layout";
}
<h1>@Model["vendor"].Name Orders</h1>
@using VendorOrder.Models;

@if (@Model["orders"].Count == 0)
{
  <p>No orders have been added yet!</p>
}
<ul>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title Order</a>
    <ul>
      <li>Description: @order.Description </li>
      <li>Price: $@order.Price</li>
      <li>Date: @order.Date</li>
    </ul>
  </li>


}
</ul>
<a href='/vendors/@Model["vendor"].Id/orders/new'><button class="btn btn-primary">Add New Order</button></a>
<a href='/vendors/'><button class="btn btn-primary">View Vendor List</button></a>
<form path='/vendors/@Model["vendor"].Id' method="post">
  <input type="hidden" value='@Model["vendor"].Id' id="deleteId" name="deleteId">
  <br>
  <button type="submit" class="btn btn-danger">Delete Vendor @Model["vendor"].Name</button>
</form>